@font-face {
  font-family: 'Taipei Sans TC Beta';
  src: url(./assets/fonts/TaipeiSansTCBeta-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Taipei Sans TC Beta';
  src: url(./assets/fonts/TaipeiSansTCBeta-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Taipei Sans TC Beta';
  src: url(./assets/fonts/TaipeiSansTCBeta-Light.ttf);
  font-weight: 300;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Taipei Sans TC Beta', sans-serif;
  font-weight: normal;
}