@font-face {
  font-family: 'Taipei Sans TC Beta';
  src: url(./assets/fonts/TaipeiSansTCBeta-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Taipei Sans TC Beta';
  src: url(./assets/fonts/TaipeiSansTCBeta-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Taipei Sans TC Beta';
  src: url(./assets/fonts/TaipeiSansTCBeta-Light.ttf);
  font-weight: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Taipei Sans TC Beta', sans-serif;
  font-weight: normal;
}

select {
  font-family: 'Taipei Sans TC Beta', sans-serif;
  font-weight: normal;
}

/*
*  Custom Perfect Scrollbar CSS
*/

.ps__thumb-y {
  width: 10px;
  right: 1px;
}

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  right: 2px;
}

.ps__thumb-x {
  height: 10px;
  bottom: 1px
}

.ps__rail-x:hover>.ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  bottom: 2px;
}